button {
   display: block;
   margin: 0 auto;
}
#jq_creater {
   margin: 10px 0 10px 30px;
   display: block;
   float: left;
}
#jq_adam {
   margin: 10px 30px 10px 0;
   display: block;
   float: right;
}